@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  margin-right: 1em;
  border-radius: 100%;
  border: 1px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px !important;
}

.transitions {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.sf-width-full {
  max-width: 100%;
}

.sf-txt-align-c {
  text-align: center;
}
.sf-txt-align-r {
  text-align: right;
}

#sticky-footer {
  position:fixed;
  bottom:0px;
  background:lightslategrey;
  width:100%;
  height: 0px;
  display: table;
  font-family: 'San Francisco', Arial, Helvetica, sans-serif;
  color: #5B5B5B;
  border-top: 1px solid #D9D9D9;
  letter-spacing: 0.5px;
}

#sticky-footer p {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 0;
}
figure {
  margin:0;
  max-width: 50px;
}
#sticky-footer .sf-raknare {
  display: inline-block;
}
#sticky-footer .sf-raknare img {
  max-width: 100%;
  margin-top: 10px;
}
.sf-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #5B5B5B;
  font-size: 10px;
  background: #ffffff;
  width: 75px;
  height: 15px;
  border: solid #cacaca 1px;
  text-decoration: none;
  margin-bottom: 0px;
  font-family: 'San Francisco', Arial, Helvetica, sans-serif;
}
.sf-button:focus {
  outline:0;
}

#sticky-footer.slide-up {
   bottom: 0px !important;
}

.puff {
  display: table;
  background: #fff;
  min-height: 66px;
}
.puff:last-child {
  border-right: none;
  float: none !important;
}
.puff section {
  display: table-cell;
  vertical-align: middle;
}
.puff::after {
  content: "";
  border-right: #E6E6E6 1px solid;
  position: relative;
  display: inline-block;
  left: 1em;
  height: 40px;
  top: 1em;
}

#sf-puff-3 p {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 6px;
  display:inline-block;
}
 

